.app_contents {
  // margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  width: 45vh;
  .apps_title {
    width: 100%;
    font-size: 3vh;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
  }
  .app_lists {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .app_img_content {
      position: relative;
      .app_img {
        width: 49vh;
        height: 33vh;
      }
    }
  }
}

.app-title {
  width: 100%;
  text-align: left;
  color: black;
  padding: 0 0 20px 0;
  // border-bottom: 1px solid #ddd;
}

.app_content {
  margin: 30px;
}

.section {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  box-sizing: content-box;
  position: relative;
  height: 100%;
}

.eyecatch_container {
  width: 100%;
}

.eyecatch_container .eyecatch {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.main_container {
  margin-top: -10px;
  padding: 24px;
}

.timeline_header {
  min-height: 190px;
  min-width: 100px;
}

.main_container .body, .main_container .title {
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  .app-name {
    color: black;
  }
}

.main_container .title {
  font-size: 26px;
  -webkit-line-clamp: 3;
  text-align: center;
}

.main_container .body {
  font-size: 14px;
  line-height: 21px;
  margin: 16px auto;
  -webkit-line-clamp: 2;
}

.layout.column {
  flex-direction: column;
}

.meta_container {
  display: flex;
  font-size: 15px;
}

.layout {
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

.meta_container .meta_items {
  align-items: flex-end;
}

.meta_container .language_container {
  display: flex;
  padding-right: 8px;
  font-family: Helvetica Neue;
}

.reference{
  color:red;
  font-weight: bold;
}

.sen {
  padding-right: 10px;
  border-right: 1px solid #d8d8d8;
}

.language {
  display: block;
  color:#133e8d;
  font-weight: bold;
}

.period {
  display: block;
  color:#133e8d;
  font-weight: bold;
  margin-left: 10px;
}

.timeline_footer {
  display: flex;
  height: 50px;
  margin-top: 10px;
  .user_container {
    display: flex;
    align-items: flex-end;
    .user_icon {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dfdfdf;
      border-radius: 22px;
      position: relative;
    }
    .user_info {
      display: flex;
      flex-flow: column;
      margin-left: 16px;
      .user_name {
        font-size: 12px;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 7px;
      }
      .app_date {
        font-size: 12px;
      } 
    }
  }
  .spacer {
    flex-grow: 1!important;
  }
  .comments-area {
    // color: #777;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    .comment-icon {
      font-size: 25px;
    }
    .comment-count {
      font-size: 18px;
      margin-left: 7px;
    }
  }
  .likes-area {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 20px;
    .like-icon {
      font-size: 25px;
    }
    .likes-count {
      display: inline;
      font-size: 19px;
      margin-left: 5px;
    }
  }
}

.likes-btn {
  color:black;
  &:hover{
    color:red;
    text-decoration: none;
  }
}

.likes-red-btn {
  color: red;
  &:hover {
    color:red;
    text-decoration: none;
  }
}