.search-area {
  width: 100%;
  margin:20px;
  text-align: center;
  .search-field {
    width: 30vw;
    height: 50px;
    margin-right: 10px;
    padding-left: 20px;
    border: 1px solid #555;
    // border-radius: 10px;
  }
  .search-btn {
    width: 80px;
    height: 50px;
    margin-bottom: 3px;
    // border-radius: 50px;
  }
}