<div class="container users-contents">
  <h3 class="title_border"><i class="fas fa-list-alt"></i> すべてのユーザー</h3>
  <div class="row">
    <ul class="user-lists">
    <%= render @users %>
    </ul>
  </div>
</div>