@import "bootstrap-sprockets";
@import "bootstrap";

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  color:red;
  font-weight: bold;
}


.title_border {
  display: flex;
  align-items: center;
}
.title_border:before,
.title_border:after {
  border-top: 1px solid #ddd;
  content: "";
  flex-grow: 1;
}
.title_border:before {
  margin-right: 1rem;
}
.title_border:after {
  margin-left: 1rem;
}