.users-contents {
  margin-top: 100px;
  .users-title {
    color: #555;
    text-decoration: none;
  }
  .search-area {
    .user-search-field {
      height: 50px;
      width: 30vw;
      padding-left: 1vw;
      margin-right: 10px;
    }
    .search-select {
      height: 50px;
      margin: 10px;
    }
  }
  .user-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .user-list {
      margin: 30px;
      .user-icon-area {
        .user-icon {
          width: 160px;
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #dfdfdf;
          border-radius: 100px;
          position: relative;
        }
      }
      .user-name-area {
        text-align: center;
        .user-name {
          text-decoration: none;
          color: #555;
          font-weight: bold;
        }
      }
    }
  }
}

.back-link {
  text-align: center;
}