.users-contents {
  margin-top: 100px;
  .users-title {
    font-size: 3vh;
    line-height: 1.5;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  .search-area {
    .user-search-field {
      height: 50px;
      width: 30vw;
      padding-left: 1vw;
      margin-right: 10px;
    }
    .search-select {
      height: 50px;
      margin: 10px;
    }
  }
  .school-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .school img{
      border: 1px solid #000;
      border-radius: 25px;
      padding: 20px;
      width: 272px;
      height: 70%;
      max-height: 90px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      #logo {
        height: 100vw;
        width: 100%!important;
      }
    }
  }
  .user-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .user-list {
      margin: 30px;
      .user-icon-area {
        .user-icon {
          width: 160px;
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #dfdfdf;
          border-radius: 100px;
          position: relative;
        }
      }
      .user-name-area {
        text-align: center;
        .user-name {
          text-decoration: none;
          color: #555;
          font-weight: bold;
        }
      }
    }
  }
}

.back-link {
  text-align: center;
}