.login-btn, .sns-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-blue-btn {
  width: 100%;
  background: #0268cc;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.indispensable {
  background: #ea352d;
  margin-left: 5px;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.dispensable {
  background: #888888;
  margin-left: 5px;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.or-line {
  display: block;
  margin: 40px 0;
  text-align: center;
}

.or-border {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.or-border:before,
.or-border:after {
  border-top: 1px solid #ddd;
  content: "";
  flex-grow: 1;
}
.or-border:before {
  margin-right: 1rem;
}
.or-border:after {
  margin-left: 1rem;
}

.google-btn {
  font-weight: bold;
  width: 100%;
  background-color: white;
  color: #999;
  border: 2px solid #999;
  border-radius: 5px;
  line-height: 40px;
  font-size: 14px;
}

// .google-icon {
//   color: red;
// }

.facebook-btn {
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  background-color: white;
  color: #3c5a99;
  border: 2px solid #3c5a99;
  border-radius: 5px;
  line-height: 40px;
  font-size: 14px;
}